<mat-sidenav-container [class.unicorn-dark-theme]="darkTheme" [dir]="dir">
    <mat-sidenav [opened]="isScreenSmall()" [mode]="'over'">
      <mat-toolbar color="primary">  Angular Material </mat-toolbar>
      <mat-list role="list">
          <mat-list-item role="listitem" [routerLink]="['/authors']">Authors</mat-list-item>
          <mat-list-item role="listitem" [routerLink]="['/books']">Books</mat-list-item>
          <mat-list-item role="listitem" [routerLink]="['/drag']">Drag</mat-list-item>
        </mat-list>
    </mat-sidenav>

  <mat-toolbar color="primary">
    <span [routerLink]="['/']">Angular Material</span>

    <ng-container *ngIf="!isScreenSmall()">
        <button mat-button [routerLink]="['/authors']">Authors</button>
        <button mat-button [routerLink]="['/books']">Books</button>
    </ng-container>

    <div id="page-actions-container"> </div>

    <button mat-button [matMenuTriggerFor]="cdkmenu">
      CDK
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #cdkmenu="matMenu">
      <button mat-menu-item  [routerLink]="['/access']">Access</button>
      <button mat-menu-item  [routerLink]="['/layout']">Layout</button>
      <button mat-menu-item  [routerLink]="['/drag']">Drag</button>
      <button mat-menu-item  [routerLink]="['/observer']">Observer</button>
      <button mat-menu-item  [routerLink]="['/scroll']">Scroll</button>
    </mat-menu>

    <span class="fill-remaining-space"></span>

    <img class="avatar" src="../../../assets/images/user.png">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/login']">Logout</button>
      <button mat-menu-item (click)="toggleTheme()">Toggle theme</button>
      <button mat-menu-item (click)="toggleDir()">Toggle dir</button>
    </mat-menu>
  </mat-toolbar>

  <div class="container home-container">
      <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

