<mat-toolbar color="primary">
  <span [routerLink]="['/']">Xcelerator</span>

  <button mat-button [routerLink]="['/authors']">Authors</button>
  <button mat-button [routerLink]="['/books']">Books</button>

  <span class="fill-remaining-space"></span>

  <img class="avatar" src="../../../assets/images/user.png">

  <button mat-button [matMenuTriggerFor]="LanguageMenu">
    Language
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #LanguageMenu="matMenu">
    <button mat-menu-item>SV</button>
    <button mat-menu-item>EN</button>
  </mat-menu>

  <button mat-button [routerLink]="['/login']">Logout</button>
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>
