/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.full-width {
    width: 100%;
}

.fill-remaining-space{
    flex: 1 1 auto;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.action-row-end {
    text-align: end;
}