@import '~@angular/material/theming';
@import './custom-theme.scss';

@include mat-core();

$am-blue: #354284;
$am-primary: (
  50: $am-blue,
  100: $am-blue,
  200: $am-blue,
  300: $am-blue,
  400: $am-blue,
  500: $am-blue,
  600: $am-blue,
  700: $am-blue,
  800: $am-blue,
  900: $am-blue,
  A100: $am-blue,
  A200: $am-blue,
  A400: $am-blue,
  A700: $am-blue,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);


$app-primary: mat-palette($am-primary);
$app-accent:  mat-palette($mat-pink, A200, A100, A500);
$app-theme:   mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
@include custom-theme($app-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-theme($dark-theme);
}
