<h1>Authors</h1>

<div class="full-width d-flex align-items-center">
  <mat-form-field>
    <input matInput placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="fill-remaining-space"></span>
  <button mat-flat-button color="primary" (click)="showNewModal()">Add</button>
</div>

<mat-table [dataSource]="authors$ | async">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element" class="justify-content-end">
      <button class="mr-1" mat-flat-button color="primary" (click)="showEditModal(element)">Edit</button>
      <button mat-flat-button color="warn" (click)="showDeleteModal(element)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
